<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路 | 首頁
        link(rel="stylesheet", href="style.css")
    body
        div(id="banner")
            nav
                img(src="imgs/Logo.png", alt="狸小路 LOGO")
                div(id="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 連絡我們