//- mixin 區塊
//- 產生標題(英文標題,中文標題)
mixin title(eng,chin)
    h2(class="title")=eng
    h1=chin
    img(src="imgs/line.png", alt="線條")


<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路 | 首頁
        link(rel="stylesheet", href="style.css")
    body
        div(id="banner")
            nav
                img(src="imgs/Logo.png", alt="狸小路 LOGO" id="logo")
                div(id="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 連絡我們
        section(id="brands")
            +title("BRANDS","狸小路的堅持")
            p 不加多餘的糖份、油脂，不給不必要的色素裝飾，只有單純原味，與健康分享，不靠防腐香精來增加香氣與保存期限，使甜膩少一點、但保存短一點，讓你吃的無負擔，追求健康多一點。
            img(src="imgs/brands.png", alt="狸小路 產品")

        +title("CAKES","產品介紹")
        +title("NEWS","最新消息")
        +title("CONTACT","聯絡我們")