div(id="banner")
            nav
                a(href="index.html")
                    img(src="imgs/logo.png", alt="狸小路 LGOO" class="logo")
                div(class="link")
                    a(href="new.html") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們