<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路 | 最新消息
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.png", type="image/x-icon")
    body
        include nav.pug

        h1 最新消息

        include footer.pug