*{
margin: 0;
padding: 0;
font-family: 微軟正黑體;
}

body{
    background-color: #faf7f0;
    text-align: center;
}

#banner{
    background-image: url(imgs/Banner.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    /* calc 計算 - css 計算數字 + - */
    height: calc(100vw / 2.1);
    width: 100vw;
}

.logo {
    width: 300px;
}

.link {
    float: right;
    padding: 40px 0;
}

.link a {
    color: #fff;
    text-decoration: none;
    /* 內距：上下 左右 */
    padding: 5px 15px;
    /* 字體粗細 0 - 900 */
    font-weight: 800;
}

.link a:hover {
    background-color: #ffe048;
    color: black;
    transition: 0.6s;
}

/* 導覽列區塊 */
nav {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

#brands{
    text-align: center;
}

/* 品牌區塊 */
.title-box{
    text-align: center;
    color: #58451a;
    letter-spacing: 5px;
}

/* 偽元素 前面 */
.title::before{
    content:"＼";
    /* 前面距離 */
    padding-right: 20px;
}

.title::after{
    content:"／";
    padding-left: 20px;
}

#brands p {
    margin: 0 auto;
    width: 570px;
    padding: 30px;
    line-height: 2;
    /* 透明度 0-1 */
    opacity: 0.6;
    /* 字距 */
    letter-spacing: 6px;
}

.eng{
    margin-top: 10px;
    font-size: 33px;
}

/* 產品區塊 */
#product{
    /* 模式:格線 */
    display: grid;
    /* 格線-框架-欄位:欄位尺寸 欄位尺寸 欄位尺寸 */
    grid-template-columns: auto auto auto;
    /* 格線間隙 */
    grid-gap: 30px;
    padding: 50px;
    width: 920px;
    margin: 0 auto;
    text-align: left;
}

#product img{
    /* 圖片寬度 */
    width: 100%;
}

.product-box a{
    text-decoration: none;
}

.product-box h2{
    color:#fbb024;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.product-box hr{
    height: 2px;
    background-color:  #bdac90;
    border: 0;
    margin: 15px 0;
}

.product-box p{
    color: #58451a;
    font-size: 0.9em;
    padding: 10px 0;
    line-height: 1.8;
}

/* 按鈕效果 */
/* 行內元素 不能條寬高 */
.btn-big{
    display: inline-block;
    background-color: #642200;
    color: #fff;
    text-decoration: none;
    padding: 20px 100px;
    border: 2px solid #642200;
    font-weight: 900;
    transition: 0.8s;
    font-size: 14px;
}

.btn-big:hover{
    background-color: transparent;
    color: #642200;
}

/* 重複圖片線條效果 */
.small-line{
    background-image: url(imgs/small-line.png);
    height: 5px;
    background-repeat: repeat-x;
    margin-top: 80px;
    margin-bottom: 60px;
}

footer{
    background-color: #642200;
    color: #fff;
    margin-top: 100px;
}

footer #copy{
    padding-top: 50px;
    font-size: 0.5em;
    text-align: center;
}