* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    background-color: #faf7f0;
    text-align: center;
}

#banner {
    background-image: url(imgs/banner.jpg);
    background-size: 100vw;
    /* bgr 背景圖片重複 */
    background-repeat: no-repeat;
    width: 100vw;
    /* calc 計算 - CSS 計算數字 + - * / */
    height: calc(100vw / 2.2);
}

.logo {
    width: 300px;
}

.link {
    float: right;
    padding: 40px 0;
}

.link a {
    color: #fff;
    text-decoration: none;
    /* 內距：上下 左右 */
    padding: 5px 15px;
    /* 字體粗細 0 - 900 */
    font-weight: 800;
}

.link a:hover {
    background-color: #ffe048;
    color: black;
    transition: 0.6s;
}

/* 導覽列區塊 */
nav {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

/* 品牌區塊 */
#brands {
    text-align: center;
    color: #58451a;
}

#brands p {
    width: 570px;
    margin: 0 auto;
    padding: 30px;
    line-height: 2;
    /* 透明度 0 - 1 */
    opacity: 0.6;
    /* 字距 */
    letter-spacing: 6px;
}


/* 標題區塊 */
.title-box {
    text-align: center;
    color: #58451a;
}
.title {
    font-size: 1.5em;
    padding: 10px 0;
}

.title::before {
    content: "＼";
    padding-right: 20px;
}

.title::after {
    content: "／";
    padding-left: 20px;
}

.title-box h1 {
    font-size: 1.6em;
}

/* 產品區塊 */
#product {
    /* 顯示模式：格線 */
    display: grid;
    /* 格線-框架-欄位：欄位尺寸 欄位尺寸 欄位尺寸 */
    grid-template-columns: auto auto auto;
    /* 格線-間隙 */
    grid-gap: 50px;

    padding: 30px;

    width: 920px;

    margin: 0 auto;

    text-align: left;
}

#product img {
    width: 100%;
}

/* 產品盒子 */
.product-box a {
    text-decoration: none;
}
.product-box h2 {
    color: #fbab13;
    letter-spacing: 3px;
    font-size: 1.2em;
}

.product-box hr {
    height: 2px;
    background-color: #bdac90;
    border: 0;
    margin: 20px 0;
}

.product-box p {
    color: #58451a;
    font-size: 0.8em;
    padding: 10px 0;
    line-height: 1.8;
}

/* 按鈕效果 */
/* a 行內元素 - 不能調寬高 */
.btn-big {
    display: inline-block;
    background-color: #642200;
    color: #fff;
    text-decoration: none;
    padding: 10px 130px;
    border: 2px solid #642200;
    font-weight: 700;
    margin: 50px 0 90px 0;
    transition: 0.8s;
}

.btn-big:hover {
    background-color: transparent;
    color: #642200;
}

/* 重複圖片線條效果 */
.small-line {
    background-image: url(imgs/small-line.png);
    height: 5px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

footer {
    background-color: #642200;
    color: #fff;
    margin-top: 100px;
}
footer #copy {
    padding-top: 50px;
    font-size: 0.5em;
    text-align: center;
}

/* RWD */
/* 當螢幕寬度大於等於 1024 像素 - 桌機 */
@media screen and (min-width: 1024px) {
  
}

/* 當螢幕寬度小於等於 1023 像素 - 平板 */
@media screen and (max-width: 1023px) {
    #product {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

/* 當螢幕寬度小於等於 767 像素 - 手機 */
@media screen and (max-width: 767px) {
    #product {
        grid-template-columns: 1fr;     
        width: 100%;
    }
    #brands {
        width: 100%;
    }
    #brands p {
        width: 100%;
    }
    /* > 裡面第一層元素 */
    #brands > img {
        width: 100%;
    }
}

#banner {
    background-position: center 0;
}
nav {
    text-align: center;
    padding: 10px 0;
}
.logo {
    width: 200px;
}
.link {
    float: none;
    padding: 10px 0;
    }
}